* {
    margin: 0;
    padding: 0;
}

#navbar {
    margin-left: 15px;
}

#welcome-section {
    height: 100vh;
    overflow: auto;
    margin-top: 8vh;
    /* background-color: blanchedalmond; */
}

.jumbotron {
    height: 92%;
}

h1 {
    padding-top: 10%;
}
