* {
    margin: 0;
    padding: 0;
}

#navbar {
    margin-left: 15px;
}

#welcome-section {
    height: 100vh;
    overflow: auto;
    margin-top: 8vh;
    /* background-color: blanchedalmond; */
}

.jumbotron {
    height: 92%;
}

h1 {
    padding-top: 10%;
}

.footer {
    font-size: 25px;
    padding: 10px;
    width: 100%;
    background-color: #eee;
    color: black;
    text-align: center;
  }

.project-tile a {
      font-size: large;
      padding-top: 10px;
      text-align: center;
  }
